.master {
  width: 580px;
  height: 100vh;
  background: #FFF5F5;
}
.master__header {
  padding: 30px;
  text-align: left;
}
.master__header h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 75px;
  transition: all .25s ease;
}
.master__header h1:hover {
  cursor: pointer;
  opacity: .5;
}
.master__header h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: -30px;
}