button {
  width: 100%;
  height: 80px;
  border-radius: 14px;
  background: #FFB1B1;
  font-weight: 900;
  font-family: 'Poppins';
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
  border: unset;
  transition: all .25s ease;
}
button:hover {
  cursor: pointer;
  opacity: .5;
}